#dprof_tabs {
  position: fixed;
  bottom: 0px;
  height: 350px;
  width: 100%;
  clear: both;
  margin: 0;
  background: black;
  border-top: 5px solid #000;
  display: none;
  z-index: 999;
}
.dprof_tab {
  float: left;
}
.dprof_tab label {
  background: #eee; 
  padding: 3px 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
  cursor:pointer;
}
.dprof_tab [type=radio] {
  display: none;   
}
.dprof_content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 0 20px;
  border: 1px solid #ccc; 

  overflow-y: scroll;
}
.dprof_content > * {
  opacity: 0;

  -webkit-transform: translate3d(0, 0, 0);

  -webkit-transform: translateX(-100%);
  -moz-transform:    translateX(-100%);
  -ms-transform:     translateX(-100%);
  -o-transform:      translateX(-100%);

  -webkit-transition: all 0.4s ease;
  -moz-transition:    all 0.4s ease;
  -ms-transition:     all 0.4s ease;
  -o-transition:      all 0.4s ease;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .dprof_content {
  z-index: 1;
}
[type=radio]:checked ~ label ~ .dprof_content > * {
  opacity: 1;

  -webkit-transform: translateX(0);
  -moz-transform:    translateX(0);
  -ms-transform:     translateX(0);
  -o-transform:      translateX(0);
}
#dprof_hide {
  float: right;
  padding:5px;
  background: white;
}
#dprof_show {
  padding:5px;
  background: white;
  position: fixed;
  right: 0;
  bottom: 0;
  border-left: 2px solid #000;
  border-top: 2px solid #000;
}

